<footer class="sheet-footer flexrow">
	<button type="submit" class="executeMobAttack" name="executeMobAttack" data-action="executeMobAttack">
		<i class="fas fa-fist-raised"></i> {{localize 'MAT.mobAttack'}}
	</button>
</footer>